html{
    
}
body{
    background-color: #F5DEB3;
}
.paper{
    background-color: #FFFFFF;
    display: block;
    font-size: 1.6rem;
    height: 10vh;
    text-align: center;
    line-height: 5vh;
    margin: auto;
    margin-top: 35vh;
    box-shadow:0px 5px 6px 0px rgba(50, 50, 50, 0.69);
    padding: 40px;
    width: 30vw;
    position: relative;
}
.tapeone{
    position: absolute;
    top: 2px;
    left: -25px;
    background-color: #D0CBB5;
    transform: rotate(-45deg);
    height: 20px;
    width: 70px;
}
.tapetwo{
    position: absolute;
    top: 2px;
    right: -25px;
    background-color: #D0CBB5;
    transform: rotate(45deg);
    height: 20px;
    width: 70px;
}