html{
    
}
body{
    
}
table{
    background-color: #D2D7D3;
    border-collapse: collapse;
}
td{
    padding: 30px;
}
tr:nth-child(even) td:nth-child(even){
    background-color: #6C7A89;
}
tr:nth-child(odd) td:nth-child(odd){
    background-color: #6C7A89;
}

