html{
    
}
body{
    background-image:url(../Images/wallpaper.jpg);
    margin: 0;
    padding: 0;
    position: relative;
    
}
.rope{
    background-image: url(../Images/rope.png);
    position: absolute;
    top: -80px;
    left: 50vw;
    height: 400px;
    width: 24px;
    z-index:-1;
}
.wood{
    background-image: url(../Images/wood.png);
    position: absolute;
    top: 300px;
    left: 30vw;
    height: 94px;
    width: 600px;
}
.wood:hover{
    transform: rotate(-20deg);
    transition: 1s ease-in-out;
    
    
}